body{
    overflow-x: hidden !important;
}

#list-markers{
    display: flex;
    justify-content: space-between;
    color: #d18720;
}

#list-markers div{
    display: flex;
    font-size: 25px;
    align-items: center;
}

#icon-trash:hover{
    color: #d18720;
}