.box {
  display: flex;
  flex-direction: row;
}

.leaflet-container {
  width: 80vw;
  height: 100vh;
}

h1 {
  margin: 0px 0px 5px 0px;
}

.header-map {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.header {
  width: auto;
  height: 18vh;
  background-color: #ebe7e7;
  padding: 15px;
  font-weight: 600;
}

.header input {
  width: 8vw;
  height: 20px;
  margin: 13px;
}

.header button {
  background-color: #104e8b;
  color: #ebe7e7;
  padding: 5px 10px;
  border-radius: 7px;
}

.interest-point {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.interest-point-span {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  align-items: center;
}

.icons-fa {
  cursor: pointer;
}

.icons-fa:hover {
  color: #d18720;
}