#render-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#render-list li {
    list-style: none;
    width: 17.5vw;
    padding: 5px;
    margin: 1px;
    color: #333;
    border-radius: 5px;
}

#render-list li div {
    cursor: pointer;
}

#list-item-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-hide {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-top: 15px;
    margin-left: 10px;
}
#btn-hide:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

#btn-hide:active {
	position:relative;
	top:1px;
}